<div class="top-container">
  <div class="left-container">
    <div class="bet">Betbuzz</div>
    <div class="search-input">
      <input type="text" placeholder="search events" />
    </div>
  </div>

  <div class="right-container">
    <mat-icon class="profile-icon">account_circle</mat-icon>
    <input type="text" placeholder="Username" />
    <input type="text" placeholder="Password" />
    <input type="text" placeholder="Validation" />
    <button class="login-button">Login</button>
  </div>
</div>

<div class="games-toolbar">
  <div class="home-container">
    <button class="bold-text">Home</button>
    <button class="bold-text">In-Play</button>
    <button class="bold-text">Cricket</button>
    <button class="bold-text">Soccer</button>
    <button class="bold-text">Tennis</button>
  </div>

  <div class="time-zone">
    <div>Time Zone : <span class="bold-time-zone">GMT +5:30</span></div>
    <div>One Click Bet</div>
    <div class="bold-text"><mat-icon>settings</mat-icon>Settings</div>
  </div>
</div>
<div class="main-container">
  <div class="sports-container">
    <div>
      <button class="sport-button">Sport</button>
      <button class="sport-button">Cricket</button>
      <button class="sport-button">CSA Provisional One-day Challenge</button>
    </div>
  </div>

  <div class="news-container">
    <div class="news-content">
      <mat-icon>settings_voice</mat-icon>
      <div>News</div>
    </div>
    <div>Welcome to our Exchange</div>
  </div>

  <div class="bet-slip">
    <div class="bet-color">Bet Slip</div>
    <div class="circle">
      <i class="icon fas fa-minus"></i>
    </div>
  </div>
</div>

<div class="match-odd-row">
  <div class="match-container">
    <input type="radio" />
    <div>Match Odds</div>
  </div>

  <div class="rating-area">
    <div class="">
      <img class="image" src="../assets/autralia1.png" alt="" />
    </div>
  </div>

  <div class="add-selections">
    Click on the odds to add selections to the betslip.
  </div>
</div>

<div class="live-area">
  <div class="pin-refresh-area">
    <button><i class="fas fa-thumbtack"></i></button>
    <button><i class="fas fa-sync-alt"></i></button>
  </div>

  <div class="below-live">
    <div class="start-live-area">
      <button class="odds-button">Match odds</button>
      <div>2023-10-06</div>
      <div class="liquidity">Low Liquidity</div>
    </div>

    <div class="center-live-area">Min 1 Max 500</div>

    <div class="end-live-area">
      <div>Matched <span class="matched">PBU 175,175,485</span></div>
      <img src="../assets/live.png" alt="" />
    </div>
  </div>
</div>

<div class="stadium">
  <img src="../assets/stadium.png" alt="" />
</div>

<div class="sections-area">
  <div>2 Selections</div>

  <div class="score-board">
    <div>
      <div class="autralian-women">Australian Women</div>
      <div class="indian-women">West Indies Women</div>
    </div>
    <div class="grey">1.01 100,006</div>
    <div class="grey">1.01 100,006</div>
    <div class="blue">
      <div>Back all</div>

      <div class="back-below">1.01 100,006</div>
    </div>
    <div class="orange">
      <div>Back all</div>

      <div class="orange-below">1.01 100,006</div>
    </div>
    <div class="pink">1.01 100,006</div>
    <div class="dark-pink">1.01 100,006</div>
  </div>
</div>

<div class="fancy">

    <button class="fancy-button">Fancy Bet</button>
  

  </div>

  <div class="fancy">
  <div class="fancy-container">
    <div class="fancy-content">
      <i class="fas fa-thumbtack"></i>
      <div>Fancy Bet</div>
    </div>

  </div>
</div>

<div class="fancy">
  <div class="  below-fancy-container">
   <div>No</div><div>yes</div>
  </div>
</div>